@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,500,300italic,500italic,700italic,900,300);

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	background-image: url("https://act.hoyolab.com/sr/app/interactive-map/images/map-background.423860f9.jpg");
	background-size: cover;
	background-position: center;
	overflow: auto;
	font-family: "Roboto", "Helvetica Neue, Helvetica, Arial";
}

#header {
	display: flex;
	align-items: flex-end;
	position: relative;
	width: 86%;
	left: 7%;
}

#header>img {
	margin-left: auto;
}

.search {
	flex-grow: 1;
	width: 100%;
	max-width: 400px;
	height: 2em;
	font-size: 1rem;
	line-height: 16px;
	letter-spacing: 0.002em;
	border: 1px dashed #ccc;
	margin: 1em 0;
}

@media only screen and (max-width: 1024px) {
	#header {
		flex-direction: column;
	}

	#header>img {
		margin: auto;
	}

	.search {
		order: 1;
		max-width: 100%;
	}
}

.header {
	display: flex;
	align-items: center;
	height: 3rem;
	padding-left: 0.8em;
	background-color: #1a1d23;
	font-weight: 600;
	color: #fff;
}

.header:before {
	content: "";
	position: relative;
	width: 6px;
	height: 6px;
	margin-right: 0.6em;
	transform: rotate(45deg);
	background: #f5f5f5;
	transition: all 0.3s linear;
}

.category[collapsed]>.header:before {
	transform: none;
}

.progress {
	position: absolute;
	right: 0.5em;
	font-weight: 100;
}

.category {
	position: relative;
	width: 86%;
	left: 7%;
	margin-bottom: 2em;
	background: #e5e5e5;
}

.category[collapsed] {
	height: 3rem;
	overflow: hidden;
}

.category[searchable] {
	height: auto !important;
}

.entry {
	display: flex;
	align-items: center;
	padding: 0.3em 0.5em;
	color: rgba(18, 18, 18, 0.9);
	cursor: pointer;
}

.category>div:not(:last-child) {
	border-bottom: 0.01rem dashed #ccc;
}

.entry:hover {
	box-shadow: 0 0 0 1px black;
}

.entry[checked] {
	opacity: 0.2;
}

.title {
	flex: 0 0 20%;
	font-weight: 600;
	margin-left: 0.3em;
	width: 20%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.entry>img {
	height: 1rem;
	width: 1rem;
	content: url("https://act.hoyolab.com/sr/app/interactive-map/images/icon-select-all-m.28a4d10b.png");
}

.entry[checked]>img {
	content: url("https://act.hoyolab.com/sr/app/interactive-map/images/icon-checked.8b7873c9.png");
}

.description {
	flex-grow: 1;
	padding: 0.2em 0.5em;
}

.comment {
	font-size: 0.8em;
	margin-top: 5px;
	color: rgba(18, 18, 18, 0.56);
}

.comment[bugged] {
	color: rgb(219 145 145);
}

.jades {
	display: flex;
	margin-right: 0.5em;
	align-items: center;
}

.jades:after {
	content: '';
	width: 1.5rem;
	height: 1.5rem;
	background: url('../media/jade.png');
	background-size: contain;
}

.version {
	padding: 0.1rem;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 0.12rem;
	color: rgba(18, 18, 18, 0.56);
	font-size: 0.8rem;
	line-height: 16px;
	letter-spacing: 0.002em;
}